.mapContainer {
    width: 100%;
    margin-bottom: 2vh;
    flex: 1;
    min-height: 0;
}

.searchBoxContainer {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.continueBtn {
    width: fit-content;
    background-color: transparent;
    border: 0;
    align-self: flex-end;
    margin-left: auto;
    text-decoration: underline;
    font-size: 1.05rem;
    cursor: pointer;
}

.continueBtn:hover {
    transition: opacity 160ms ease;
    opacity: 0.7;
}